EVENTSTREAM_BASE_URL=https://eventstream.swarajyamag.com
EVENTSTREAM_TOKEN=Jd6-e808cSX5YYZEaHcJbFQ105GC6EOIi7_HBErJPd179rrE0ALJ2T8gFmnwU9y-
GCHAT_WEBHOOK_URL=https://chat.googleapis.com/v1/spaces/SPACE_ID/messages?key=...&token=...
REPORT_TIMEZONE=Asia/Kolkata
